body {
    background:#836953;
}
h1 {
    text-align: center;
    color: #dcdcdc;
}
.moon {
    text-align: center;
    color:#fff0f5;
}

footer  {
  text-align: center;
}
a {
    text-decoration: none;
    margin: 0 10px;
    color:#fff0f5;
}
p {
    color: #f0fff0; 
    text-align: center;
}
.pastry{
        display: block;
        max-width: 50%;
        border-radius: 10px;
        margin: 30px auto;
}
