body {
    background:#836953;
}
h1 {
    text-align: center;
    color: #dcdcdc;
}
a {
    color: #f0fff0;
    text-decoration: none;
}
.croissantine {
        display: block;
        margin: 30px auto;
        width: 150px;
     
}